## Fake News Classifier Using LSTM

Dataset: https://www.kaggle.com/code/therealsampat/fake-news-detection/input?select=True.csv

In [1]:
import pandas as pd

In [2]:
df_fake=pd.read_csv('Fake.csv')
df_true=pd.read_csv('True.csv')

In [3]:

import gensim.downloader as api
wv = api.load('word2vec-google-news-300')

In [4]:
df_fake.head(5)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year‚Äô...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama‚Äôs Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
df_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [6]:
df_fake["class"] = 1
df_true["class"] = 0

In [7]:
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

In [8]:
# Removing last 10 rows for manual testing
df_fake_manual_testing = df_fake.tail(10)
for i in range(23480,23470,-1):
    df_fake.drop([i], axis = 0, inplace = True)


df_true_manual_testing = df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i], axis = 0, inplace = True)

In [9]:
df_fake.shape, df_true.shape

((23471, 5), (21407, 5))

In [10]:
df_fake_manual_testing["class"] = 1
df_true_manual_testing["class"] = 0

C:\Users\malya\AppData\Local\Temp\ipykernel_3232\1954521567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_manual_testing["class"] = 1
C:\Users\malya\AppData\Local\Temp\ipykernel_3232\1954521567.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_manual_testing["class"] = 0

In [50]:
df_manual_testing = pd.concat([df_fake_manual_testing,df_true_manual_testing], axis = 0)
df_manual_testing.to_csv("manual_testing.csv")

In [11]:
#Merging main file
df_merge = pd.concat([df_fake, df_true], axis =0 )
df_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year‚Äô...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama‚Äôs Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",1
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",1
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",1
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",1
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",1

In [12]:
df_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [14]:
#### Taking title for classification because of less processing time but txt field will provide better accuracy

In [13]:
df = df_merge.drop(["text", "subject","date"], axis = 1)

In [14]:
df.isnull().sum()

title    0
class    0
dtype: int64

In [15]:
#Random shuffling of datasets
df = df.sample(frac = 1)

In [16]:
df.head()

                                                   title  class
20822  Trump seeks tougher sanctions to prod North Ko...      0
2698    Trump Tweets ‚ÄòWe Must Keep Evil Out Of Our Co...      1
14464  OBAMA PUBLICLY BULLIES GOP Over Justice Scalia...      1
13444  BOOM! Mother Of Black Son Murdered By Blacks: ...      1
8292   Obama visits Midway Atoll, a symbol of his cli...      0

In [17]:
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [18]:
df.columns

Index(['title', 'class'], dtype='object')

In [19]:
df.head()

                                               title  class
0  Trump seeks tougher sanctions to prod North Ko...      0
1   Trump Tweets ‚ÄòWe Must Keep Evil Out Of Our Co...      1
2  OBAMA PUBLICLY BULLIES GOP Over Justice Scalia...      1
3  BOOM! Mother Of Black Son Murdered By Blacks: ...      1
4  Obama visits Midway Atoll, a symbol of his cli...      0

In [20]:
df.shape

(44878, 2)

In [21]:
## Get the Independent Features

X=df.drop('class',axis=1)

In [22]:
y=df['class']

In [23]:
X.shape

(44878, 1)

In [24]:
y.shape

(44878,)

In [25]:
import tensorflow as tf

In [26]:
from tensorflow.keras.layers import Embedding
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense

In [27]:
### Vocabulary size
voc_size=5000

In [28]:
messages=X.copy()

In [29]:
import nltk
import re
from nltk.corpus import stopwords
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('stopwords')

from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

from gensim.models import KeyedVectors,Word2Vec
import numpy as np

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\malya\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\malya\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\malya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [30]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\malya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [31]:
### Dataset Preprocessing
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

corpus = []
for i in range(0, len(messages)):
    review = re.sub('[^a-zA-Z]', ' ', messages['title'][i])
    review = review.lower()
    review = review.split()

    review = [lemmatizer.lemmatize(word) for word in review if word not in stop_words]
    corpus.append(review)

In [33]:
# Tokenize
from tensorflow.keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer()
tokenizer.fit_on_texts(corpus)
sequences = tokenizer.texts_to_sequences(corpus)
word_index = tokenizer.word_index

# Padding
max_seq_length = 300  # Adjust as needed
X = pad_sequences(sequences, maxlen=max_seq_length)

In [35]:
X

array([[    0,     0,     0, ...,    22,    27,  2728],
       [    0,     0,     0, ...,    20,   739,    25],
       [    0,     0,     0, ...,     9,  2970,  2871],
       ...,
       [    0,     0,     0, ...,    51,  2828,  1758],
       [    0,     0,     0, ...,  2736,   753,    13],
       [    0,     0,     0, ...,   661,   821, 11081]])

In [36]:
embedding_dim = 300
embedding_matrix = np.zeros((len(word_index) + 1, embedding_dim))
for word, i in word_index.items():
    if word in wv.key_to_index:
        embedding_matrix[i] = wv.get_vector(word)
    else:
        embedding_matrix[i] = np.random.normal(size=(embedding_dim,))  # For unknown words

###ModelRepresentation

In [40]:
## Creating model ## We are using loss function as binary due to our data type
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, LSTM, Dense, Dropout, SpatialDropout1D

model = Sequential([
    Embedding(
        input_dim=len(word_index) + 1,
        output_dim=embedding_dim,
        weights=[embedding_matrix],
        trainable=False
    ),
    SpatialDropout1D(0.2),
    LSTM(128, dropout=0.2, recurrent_dropout=0.2),
    Dropout(0.2),
    Dense(1, activation='sigmoid')
])
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Model Training

### Performance Metrics And Accuracy

In [42]:
model.fit(
    X_train, y_train,
    epochs=5,
    batch_size=128,
    validation_data=(X_test, y_test)
)

Epoch 1/5
281/281 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 270s 957ms/step - accuracy: 0.8451 - loss: 0.3539 - val_accuracy: 0.9227 - val_loss: 0.1962
Epoch 2/5
281/281 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 496s 2s/step - accuracy: 0.9056 - loss: 0.2262 - val_accuracy: 0.9286 - val_loss: 0.1759
Epoch 3/5
281/281 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 524s 2s/step - accuracy: 0.9164 - loss: 0.2030 - val_accuracy: 0.9220 - val_loss: 0.1904
Epoch 4/5
281/281 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 459s 2s/step - accuracy: 0.9211 - loss: 0.1897 - val_accuracy: 0.9379 - val_loss: 0.1528
Epoch 5/5
281/281 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 724s 3s/step - accuracy: 0.9312 - loss: 0.1666 - val_accuracy: 0.9400 - val_loss: 0.1480

In [43]:
y_pred=model.predict(X_test)

281/281 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 72s 256ms/step

In [44]:
y_pred=np.where(y_pred > 0.5, 1,0) ##Can apply AUC ROC Curve

In [45]:
from sklearn.metrics import confusion_matrix

In [46]:
confusion_matrix(y_test,y_pred)

array([[4197,  140],
       [ 399, 4240]], dtype=int64)

In [47]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9399509803921569

In [42]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.96      0.93      4237
           1       0.96      0.90      0.93      4739

    accuracy                           0.93      8976
   macro avg       0.93      0.93      0.93      8976
weighted avg       0.93      0.93      0.93      8976

In [57]:
def manual_testing_news(news_text):

    review = re.sub('[^a-zA-Z]', ' ', news_text)
    review = review.lower()
    review = review.split()
    review = [lemmatizer.lemmatize(word) for word in review if word not in stop_words]
    cleaned_review = ' '.join(review)

    vector_input = tokenizer.texts_to_sequences([cleaned_review])
    padded = pad_sequences(vector_input, maxlen=max_seq_length)
    # Prediction
    prediction = model.predict(padded)[0][0]
    print(f"Raw prediction: {prediction}")

    # Fix the label logic based on your label mapping
    label = "FAKE" if prediction > 0.5 else "REAL"
    confidence = round(float(prediction) * 100, 2)

    print(f"\nüì∞ News: {news_text}")
    print(f"üîç Prediction: {label} News")
    print(f"üìä Confidence: {confidence}%")

In [51]:
df_manual_testing###0-Real 1-Fake

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",1
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",1
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",1
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",1
23475,Hillary Clinton: ‚ÄòIsrael First‚Äô (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",1
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",1
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1
23478,Sunnistan: US and Allied ‚ÄòSafe Zone‚Äô Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",1
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",1
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",1
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",0
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",0
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",0
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",0
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",0
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [60]:
news=str(input())
manual_testing_news(news)

1/1 ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0s 92ms/step
Raw prediction: 0.0011277779703959823

üì∞ News: U.S., North Korea clash at U.N. arms forum on ...
üîç Prediction: REAL News
üìä Confidence: 0.11%